html,
body {
  padding: 0;
  margin: 0;
  --black:#252422;
  --black-olive:#403D39;
  --white:#FFFCF2;
  --silver:#CCC5B9;
  --orange:#EB5E28;
  --transition: all 0.6s ease;
  background-color: #FFFCF2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul, ol{
  list-style: none;
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  transition: all 0.6s ease;
}
